<h1>{{title}}</h1>
<!-- Mise en place du router => on supprime cet appel et on remplace par le router-outlet
<app-heroes></app-heroes>
-->
<!--On met ici la navbar pour la navigation-->
<nav>
  <!-- Avec routerLink : On affiche ce qui est mis entre les balises et cela crée un lien cliquable qui nous envoie à la liste des héros
  Par conséquence, le lien URL est modifié et devient /heroes-->
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>

</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
