/* AppComponent's private CSS styles */
.container-app{
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
  color: #0088ce;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}


.container-footer{
  margin: 0%;
  padding: 0%;
  position: fixed;
  bottom: 0%;

}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}
/*
.container{
  margin: 0%;
  padding: 0%;
}
:host.container{
  margin: 0%;
  padding: 0%;
}
wcs-footer:host.container{
  width: auto;
  margin: 0%;
}*/
